.section-services{
    display:flex;
    border-color: blue;
    border-width: 2px;
    width: 100%;
    height: fit-content;
    background-color: brown;
    color: aliceblue;
 }

.section-works{
    display: flex;
    border-width: 3px;
    background-color: black;
    color: aliceblue;
    width:100%;
    height:fit-content;
    border-top: red;
    
}

.section-about-us{

    background-color: blue;
    color: aliceblue;
    width: auto;
    height: fit-content;
    border: size 10px;
    border-color: black
    
}

.section-latest-news{

    display;flex;
    background-color:white;
    color: black;
    width: 500px;
    height: 150px;
    flex-direction: center;
    -ms-flex-align: center;
    border: 3px;
    border-color: blue;
    padding: 5px;
    margin: 20px;

}
    .section-testimonial{
        display: flexbox;
        color: blueviolet;
        background-color: aquamarine;
        height: fit-content;
    }
    .section-contact{

        
        width: auto;
        background-color: red;

    }
